@page
@model BulkyMovieRazor.Pages.Categories.CreateModel

<div class="row pt-4 mb-3">
    <div class="col-6">
        <h3>Create Category</h3>
    </div>
    <div class="col-6 text-end">
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form asp-page="/categories/create" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-floating mb-3">
                <input asp-for="Category.CategoryName" placeholder="Category Name" class="form-control" />
                <label asp-for="Category.CategoryName"></label>
                <span class="text-danger" asp-validation-for="Category.CategoryName"></span>

            </div>
            <div class="form-floating mb-3">
                <input asp-for="Category.DisplayOrder" placeholder="Display Order" class="form-control" />
                <label asp-for="Category.DisplayOrder"></label>
                <span class="text-danger" asp-validation-for="Category.DisplayOrder"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary px-5">Create</button>
                <a class="btn btn-outline-danger" asp-page="/categories/index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
